<div ng-controller="GdpPerCapitaEditCtrl">
    <div class="container">
        <h1>Edit gdp per capita data</h1>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3>{{editDataUnit.country}} ({{editDataUnit.year}})</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="gpcgr" ng-model="editDataUnit['gdp-per-capita-growth']">
                        <label for="gpcgr" class="active">Gdp per capita growth(%)</label>
                    </div>
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="gpc" ng-model="editDataUnit['gdp-per-capita']">
                        <label for="gpc" class="active">Gdp per capita</label>
                    </div>
                    <div class="input-field col s3">
                        <input class="form-control" type="text" id="gpcppp" ng-model="editDataUnit['gdp-per-capita-ppp']">
                        <label for="gpcppp" class="active">Gdp per capita ppp</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12 right-align">
                <button class="btn waves-effect waves-light" ng-click="editData(editDataUnit)"><i class="material-icons left">edit</i>Edit</button>
                <button class="btn waves-effect waves-light red" ng-click="discardData()"><i class="material-icons left">delete</i>Discard changes</button>
            </div>
        </div>
    </div>
</div>
